@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
/* custom Properties for consistency */

    /* Theme Colours */
    --colour-dark-primary: #232226;
    --colour-dark-secondary: #2B2730;
    --colour-light-primary: #F2F2F2;
    --colour-highlight-primary: #385C73;
    --colour-highlight-secondary: #A2DCF2;

    /* Font Families */
    --font-primary: 'Outfit', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-secondary: 'Space Grotesk', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    /* Font Sizes */
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;

    /* Font Weights */
    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;


    /* Spacing */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-base: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;

    /* Border Radius */
    --border-radius-sm: 0.125rem;
    --border-radius-base: 0.25rem;
    --border-radius-lg: 0.5rem;

    /* Shadows */
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
    --shadow-base: 0 1px 3px rgba(0, 0, 0, 0.1), 0m 0 2px rgba(0, 0, 0, 0.06);
    --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
    
    /* Transition */
    --transition-duration: 0.3s;
    --transition-easing: ease-in-out;

    /* Z-Index */
    --z-index-dropdown: 1000;
    --z-index-modal: 1100;
    --z-index-tooltip: 1200;
    
}

body {
    background-image: linear-gradient(to right top, #232226, #2b2b34, #323542, #364051, #394c60, #415b71, #496a81, #517a92, #6491a9, #78aac1, #8dc3da, #a2dcf2);
}

.login-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background-color: rgba(255, 255, 255, 0.479);
    padding: var(--spacing-lg);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow-lg);
}
.form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
    width: 100%;
    max-width: 400px;
}

.login-form form{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
}

.logo img{
    width: 150px;
    height: auto;
    margin-bottom: var(--spacing-lg);
}

.login-header h1 {
    font-family: var(--font-primary);
    font-size: var(--font-size-3xl);
    color: var(--colour-dark-primary);
    margin-bottom: var(--spacing-lg);
}
