/*CSS Reset*/

/*Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/*Remove default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

/*Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'], ol[role='list'] {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Improve text rendering  & add accessible line height */
body {
  --webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

/*Remove default styles from buttons*/
button, [type="button"],
 [type="reset"],
    [type="submit"] {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/*Remove default styles from form elements*/
input, select, textarea {
    background: none;
    border: none;
    padding: 0;
}

/*Remove default styles from links*/
a {
    text-decoration: none;
}

/*Reset end*/
